<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>list</title>
<link rel="stylesheet" th:href="@{/css/reviewDetail.css}">
</head>
<body>
	<h1>리뷰 상세보기</h1>
	<div class="content">
		<div class="info-section">
			<strong>제목:</strong>
            <span th:text="${detailReview.title}"></span></br>
			<strong>작성자:</strong>
            <span th:text="${detailReview.writer}"></span></br>
			<strong>작성일:</strong>
            <span th:text="${detailReview.reg_date}"></span></br>
			<strong>조회수:</strong>
            <span th:text="${detailReview.viewCount}"></span></br>
			<strong>별점:</strong>
            <span th:text="${detailReview.rating}"></span></br>
			<strong>내용:</strong>
            <span th:text="${detailReview.content}"></span></br>
        </div>
		<div class="btn-area">
		    <a th:href="@{/review/reviewModify(num=${detailReview.num})}" th:text="수정"/>
		    <a th:href="@{/}" th:text="전체보기"/>
		    <form th:action="@{/review/reviewdelete}" method="POST">
		    	<input type="hidden" name="num" th:value="${detailReview.num}"/>
		    	<input type="submit" value="삭제" th:onclick="return confirm('정말 삭제하겠습니까?');"/>
		    </form>
		</div>
		
	</div>
</body>
</html>