<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>
	<section>
		<div id="section_wrap">
			<div class="word" style="text-align:center;font-size:24px;font-weight:bold;">HOME</div>
			<div class="content">
				<a th:href="@{/board/list}" style="display:block;text-align:center;font-size:24px;font-weight:bold;color:blue;">게시판 페이지로 이동 ▶</a>
			</div>
		</div>
	</section>
</body>
</html>