<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="replyBoard.mapper.ReplyBoardMapper">
	<!-- 테이블 추가 -->
	<!-- 
		ref=0; //글그룹 = 쿼리 실행시 가장 큰 ref값을 가저온 후 더하기 1을 한다.
		re_step=1; //새로운 글은 부모글이므로 1
		re_level=1; 
	 -->
	<insert id="insertReplyBoard" parameterType="rDTO">
		INSERT INTO replyBoard(writer,email,subject,password,ref,re_step,re_level,content)
		VALUES(#{writer},#{email},#{subject},#{password},
		<!-- 별칭 'r'를 주어 별도 쿼리로 인식시킴 -->
		(SELECT IFNULL(MAX(r.ref) + 1, 1) FROM replyBoard r),1,1,#{content})
	</insert>
	
	<!-- public List<ReplyBoardDTO> getAllReplyBoard(); -->
	<!--  부모글 → 답글 → 답글의 답글 순서로 정렬한다. -->
	<select id="getAllReplyBoard" resultType="rDTO">
		SELECT * FROM replyBoard 
		ORDER BY ref DESC, re_step ASC
	</select>
	
	<!-- ReplyBoardDTO getOneBoard(int num) -->
	<select id="getOneBoard" resultType="rDTO" parameterType="int">
	  SELECT * FROM replyBoard WHERE num=#{num}
	</select>
	
	<!-- public void reWriteInsert(ReplyBoardDTO rdto); : 답글 작성하기  -->
	<insert id="reWriteInsert" parameterType="rDTO">
	  INSERT INTO replyBoard(writer,email,subject,password,ref,re_step,re_level,content)
	  VALUES(#{writer},#{email},#{subject},#{password},#{ref},#{re_step}+1,#{re_level}+1,#{content})
	</insert>
	
	<!-- public void reSqUpdate(ReplyBoardDTO rdto);  -->
	<update id="reSqUpdate" parameterType="rDTO">
		UPDATE replyBoard
	    SET re_step = re_step + 1
	    WHERE ref = #{ref} AND re_step > #{re_step}
	</update>
	
</mapper>