<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<header th:fragment="header">
		<div id="top">
			<h3>레스토랑</h3>
		</div>
		<div id="header_wrap">
			<span>안녕하세요.</span><br/>
			<a th:href="@{/}">HOME</a>
			<a th:href="@{/reviewBoard/list}">게시판</a>
			<a th:href="@{/reviewBoard/write}">리뷰 작성</a>
		</div>
	</header>
	<footer th:fragment="footer">
		<div id="footer_wrap">
			Copyrignt OFFICE @Green
		</div>
	</footer>
</body>
</html>