<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/header_footer.css}">
<link rel="stylesheet" th:href="@{/css/home.css}">
<title>Insert title here</title>
</head>
<body>
	<header th:replace="~{/include/header_footer.html::header}"></header>
	<section>
		<div id="section_wrap">
			<div class="word"><h1>HOME</h1></div>
			<div class="content">
				<img th:src="@{/img/Main.jpg}" />
			</div>
		</div>
	</section>
	<footer th:replace="~{/include/header_footer.html::footer}" ></footer>
</body>
</html>