<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymleaf.com">
	<header th:fragment="header">
		<div id="top">
			<h3>MEMBER JOIN</h3>
		</div>
		<div id="header_wrap">
			<a th:href="@{/}">HOME</a>
			<a th:href="@{/member/signup}">회원가입</a>
			<a th:href="@{/member/signin}">로그인</a>
		</div>
	</header>
	<nav th:fragment="nav">
		<div id="nav_wrap">
			<a th:href="@{/example}">EXAMPLE</a>
		</div>
	</nav>
	<footer th:fragment="footer">
		<div id="footer_wrap">Copyright OFFICE @Green</div>
	</footer>
</html>

